header,
.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    @extend .transition;
    padding: 0.875rem 0;
    // background-color: $base-white-color;

    .logo {
        filter: brightness(0) invert(1);
    }

    .header--flex {
        @include flexbox();
        @include align-items(center);
    }

    .top-icons {
        margin-left: auto;
        font-size: 0;
        @include border-radius(50rem);
        padding: 13px 0;
        margin-right: 0;

        &-items {
            color: $website-brand-color;
            font-weight: 600;
            position: relative;
            cursor: pointer;
            padding: 0 24px;

            // @extend .middle_align;
            // @include border-radius(100px);
            em {
                font-style: normal;
            }

            &.dropdown {
                margin-right: 0;
                border-right: 0;
            }
        }
    }

    &.fixed-top-menu {
        background: url("assets/images/banner-bg.jpg");
        margin-top: 0;
        top: 0;
        @extend .transition;
        padding: 10px 0;
        @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.1));

    }

    @media screen and (max-width:575.98px) {
        .logo {
            margin-right: 15px;
            max-width: 165px;
        }

        .top-icons {
            flex-wrap: nowrap;
            padding: 8px 0;
            margin-right: 0;

            &-items {
                padding: 0 10px;
            }
        }
    }

    @media screen and (min-width:1600px) {
        padding: 53px 0 0;
    }


}