.resource_section{
    padding-top: 100px;
    @media screen and (max-width:940px) {
        padding-top: 50px;
    }
 .resource_slider {
    position: relative;
    overflow: hidden;
    @include justify-content(center);
    @include align-items(center);
    .item{
        position: relative;
        margin-top:155px;
        background: url('assets/images/resource_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
       
        .resource_img{
            position: absolute;
            bottom: 0;
            overflow: visible;
            left: 10%;
    
        }
        .resource_article{
            padding: 110px 20px 69px 0;
            p{
                margin-bottom: 15px;
                max-width: 400px;
            }
            h5{
                font-weight: 700;
                font-size: 48px;
                color: #FF9F0F;
                margin-bottom: 15px;
                
            }
            .skills-list{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                margin: 30px 0;
                span{
                    display: inline-block;
                    padding: 10px 20px;
                    background: rgba(255, 255, 255, 0.13);
                    border-radius: 67.9221px;
                    text-align: center;
                    font-family: 'Exo', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    text-transform: capitalize;
    
                }
            }
        }
    
        }
        .owl-nav {
            z-index: 2;
            button {
                &.owl-prev {
                    position: absolute;
                    left: -50px;
                    transform: translate(0px, -302%);
                    span{
                        display: inline-block;
                        padding-left: 35px;
                    }
                }
                &.owl-next {
                    position: absolute;
                    right: -50px;
                    transform: translate(0px, -302%);
                    span{
                        display: inline-block;
                        padding-right: 35px;
                    }
                }
                &.owl-prev,
                &.owl-next {
                    width: 100px;
                    height: 100px;
                    background: $primary-color;
                    @extend .middle_align;
                    color: $base-white-color;
                    @include border-radius(50%);
                    font-size: 38px;
                    padding-left: 50%;
                }
            }
        }
    .owl-dots {
        margin-top: 100px;
        text-align: center;

        button.owl-dot {
            width: 8px;
            height: 8px;
            background: $base-fussia-pink-color;
            @include border-radius(50rem);
            margin: 10px;
        }

        button.owl-dot.active {
            background: $base-fussia-pink-color;
            // box-shadow: 0px 0px 0px 8px #2e4040;
            width: 14px;
            height: 14px;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                background: $base-fussia-pink-color;
                border: 4px solid $base-fussia-pink-color;
                filter: blur(10px);
                display: inline-block;
                top: 50%;
                left: 50%;
                z-index: -1;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media screen and (max-width:1200px) {
        .item{
            .resource_img{
                left: 4%;
            }
            .resource_article{
                h5{
                    font-size: 26px;
                }
                p{
                    font-size: 17px;
                }
                .skills-list{
                    span{
                        font-size: 15px;
                    }
                }
            }

        }

    }

    @media screen and (max-width:940px) {
        // padding-top: 50px;
        .owl-dots {
            margin-top:50px;
        }
        .item{
            margin-top: 50px;
            .resource_img{
                display: none;
            }

            .flex-6{
                flex: 0 0 auto;
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
            .resource_article{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px 10px 50px 0;;
            }
    }
    
}
@media screen and (max-width:551px) {
.owl-nav {
    button {
        &.owl-prev,
        &.owl-next {
            width: 50px;
            height: 50px;
        }
    }
}


}

}
}