$base-font-color: #FFFFFF;
$base-font-color1: #FF9F0F;
$base-font-color2: #00FFFF;
$base-fussia-pink-color: #FF00F5;

$base-font-family: 'Inter', sans-serif;
$base-font-size: 20px;
$base-font-weight: 400;
$base-line-height: 1.2;
$website-brand-color: #080717;
$base-light-green-color: #C3EAD8;
$base-grey-color: #F3F9F1;
$base-white-color: #ffffff;
$base-black-color: black;
$base-font-gray-color: #9D9CAE;
// BUTTONS VARIABLES
$primary-color: #4927EC;;
$button-font-size: 20px;
// FORM VARIBLE
$primary-form-border-color: linear-gradient(to bottom, #FF00F5, #1B204A);
$form-button-color: #5653F8;
//FIELD VARIABLES
$field-height: 50px;
// Heading VARIABLES